# Solace PubSub+ credentials
credentials.lua

# Directory for local backup files
backup/

# Vim swap files
*.swp

# Binary
topic-monitor

# Debian core file
core

# CMake generate files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
